<%- include('partials/header') %>

<h1 id="testID">Place your Orders <%= name %></h1>


<div class="input">
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item">Item A</li>
        <li class="list-group-item">Item B</li>
        <li class="list-group-item">Item C</li>
        <li class="list-group-item">Item D</li>
        <li class="list-group-item">Item E</li>
      </ul>
    </div>

    <div class="col-2">
      <ul>
        <li id="suba" class="sub list-group-item"> - </li>
        <li id="subb" class="sub list-group-item"> - </li>
        <li id="subc" class="sub list-group-item"> - </li>
        <li id="subd" class="sub list-group-item"> - </li>
        <li id="sube" class="sub list-group-item"> - </li>
      </ul>
    </div>
    <div class="col-2">
      <li class="a list-group-item"> 0 </li>
      <li class="b list-group-item"> 0 </li>
      <li class="c list-group-item"> 0 </li>
      <li class="d list-group-item"> 0 </li>
      <li class="e list-group-item"> 0 </li>
    </div>
    <div class="col-2">
      <ul>
        <li id="adda" class="add list-group-item"> + </li>
        <li id="addb" class="add list-group-item"> + </li>
        <li id="addc" class="add list-group-item"> + </li>
        <li id="addd" class="add list-group-item"> + </li>
        <li id="adde" class="add list-group-item"> + </li>
      </ul>
    </div>



  </div>

  <p>Total amount is:
    <h2>total</h2>


</div>
<!-- <form class="" action="/order" method="post">

  <input type="hidden" name="orderInput" value=""  >
  <button type="submit" name="orderBtn" value=<%= name %> onclick="doit()" > SUMBIT </button>
</form>
 -->






<%- include('partials/footer') %>